<h2>Hello World !</h2>
<h4>{{ title }}</h4>
<h4>{{ name }}</h4>
<h4>{{ getName() }}</h4>
<h4>{{ obj.name }}</h4>
<h4>{{ arr[0] }}</h4>
<h4>{{ siteUrl }}</h4>
<h4>{{ 10 + 10 }}</h4>

<app-user-list></app-user-list>
<app-login></app-login>
<app-signup></app-signup>
<button (click)="getMyName()">Get my name</button> <br><br>
<button (click)="getMyDefinedName(myName)">Get my defined name</button> <br><br>
<button (click)="setMyName('tony')">Set my name</button> <br><br>

<h2>Important Events in Angular</h2>
<table>
    <tbody>

        <tr>
            <td>Click Event</td>
            <td><button (click)="myEvent('this is click event')">Click Me</button></td>
        </tr>

        <tr>
            <td>keydown</td>
            <td>
                : <input type="text" #keydown (keydown)="myEvent(keydown.value)" />
            </td>
        </tr>

        <tr>
            <td>keyup</td>
            <td>
                : <input type="text" (keyup)="myEvent('keyup event')" />
            </td>
        </tr>

        <tr>
            <td>keyup with ID</td>
            <td>
                : <input type="text" #keyup (keyup)="myEvent(keyup.value)" />
            </td>
        </tr>

        <tr>
            <td>keyup with enter</td>
            <td>
                : <input type="text" #keyupenter (keyup.enter)="myEvent(keyupenter.value)" />
            </td>
        </tr>

        <tr>
            <td>keyup with space</td>
            <td>
                : <input type="text" #keyupspace (keyup.space)="myEvent(keyupspace.value)" />
            </td>
        </tr>

        <tr>
            <td>blur</td>
            <td>
                : <input type="text" #blur (blur)="myEvent('blur event triggered!')" />
            </td>
        </tr>

        <tr>
            <td 
                colspan="2"
                style="background-color: skyblue;"
                (mouseover)="myEvent('mouseover')"
                >
                Mouse Over Event
            </td>
        </tr>

        <tr>
            <td 
                colspan="2"
                style="background-color: red;"
                (mouseleave)="myEvent('mouseleave')"
                >
                Mouse Leave Event
            </td>
        </tr>

    </tbody>
</table>

<table>
    <tbody>
        <tr>
            <td colspan="3">
                <h2>Get TextBox Value in Angular</h2>
            </td>
        </tr>

        <tr>
            <td>Type here : </td>
            <td>
                <input type="text" #textbox1 (keyup)="getValue(textbox1.value)" >
            </td>
        </tr>

        <tr>
            <td>Type here : </td>
            <td>
                <input type="text" (keyup)="getValue($event.target)" >
            </td>
            <td>
                <h4>Current value : {{ currentValue }}</h4>                
            </td>
        </tr>

        <tr>
            <td>Type here : </td>
            <td>
                <input type="text" #textbox2 >
            </td>
            <td>
                <button (click)="getTextBoxValue(textbox2.value)">Get Value</button>
            </td>
        </tr>

    </tbody>
</table>

<table>
    <tbody>
        <tr>
            <td>Type here : </td>
            <td>
                <input type="text" [disabled]="disabledTextBox" [value]="name" />
            </td>
            <td>
                <input type="text" disabled={{disabledTextBox}} value={{name}} />
            </td>
            <td>
                <button (click)="toggleTextBox()">Enable TextBox</button>
            </td>
        </tr>
    </tbody>
</table>
