<app-header></app-header>
<app-user-list></app-user-list>
<app-login></app-login>
<app-signup></app-signup>
<app-functions></app-functions>
<app-events></app-events>
<app-textboxes></app-textboxes>
<app-property-binding></app-property-binding>
<app-conditions></app-conditions>
<app-switch-cases></app-switch-cases>
<app-for-loop></app-for-loop>
<app-simple-form></app-simple-form>
<app-style-binding></app-style-binding>
<app-pass-data-to-child [hero]="parentData" [heroObject]="parentDataObject"></app-pass-data-to-child>
<app-reusable-component [hero]="reusableComponentUser" [heroArray]="reusableComponentUsers"></app-reusable-component>
<app-send-data-to-parent (parentFunction)="parentFunction($event)" app-send-data-to-parent (parentObjectFunction)="parentObjectFunction($event)"></app-send-data-to-parent>
<h4>{{ dataFromChild }}</h4>
<app-pipe></app-pipe>
<a routerLink="source">Open up source page</a> <br><br>
<a routerLink="destination">Open up destination page</a> <br><br>
<router-outlet></router-outlet>
<app-footer></app-footer>