<app-user-list></app-user-list>
<app-login></app-login>
<app-signup></app-signup>
<app-functions></app-functions>
<app-events></app-events>
<app-textboxes></app-textboxes>

<table>
    <tbody>
        <tr>
            <td>Type here : </td>
            <td>
                <input type="text" [disabled]="disabledTextBox" [value]="name" />
            </td>
            <td>
                <input type="text" disabled={{disabledTextBox}} value={{name}} />
            </td>
            <td>
                <button (click)="toggleTextBox()">Enable TextBox</button>
            </td>
        </tr>
    </tbody>
</table>

<app-conditions></app-conditions>